*{
    font-family: 'Turret Road', cursive;
    /* font-family: 'Press Start 2P', cursive; */
    /* font-family: 'VT323', monospace; */
    letter-spacing: .2em;
    /* font-weight: bolder; */
}

body{
    height: 100%;
    background-image: url("https://media.tenor.com/pCd-39uhMpMAAAAC/rain-totoro.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    color: black
}

.machineContainer{
    border: 10px solid rgb(24, 22, 20);
    /* border-color: white; */
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    /* border-bottom: none; */
    border-radius: 25px;
    height: 750px;
    width: 700px;
    margin: auto;
    padding-top: 30px;
    /* background-color: rgb(87, 82, 77); */
    box-shadow: -10px 10px 100px black;
    /* margin-top: 50px; */

    background-color: rgb(31, 27, 27);
}

.screenContainer{
    /* border: 2px solid orange; */
    height: 50%;
    width: 70%;
    margin: 20px auto;
    /* padding: 20px; */
    border: 5px solid rgb(10, 12, 14);
    /* border-style: double; */
    border-radius: 10px;
    background-color: rgb(39, 118, 182);
    box-shadow: 10px -10px 50px rgb(39, 118, 182);
}

.mainScreenContainer{
    /* border: 2px solid yellowgreen; */
    text-align: center;
    height: 80%;
    width: 80%;
    margin: 30px auto;
    border-radius: 20px;
}

.msTitle{
    /* border: 2px solid black; */
    font-size: 2em;
    margin: 10px auto;
    /* margin-bottom: 0;  */
    color: rgba(211, 211, 211, .6);
    text-shadow: 3px 3px rgba(54, 50, 50, 0.7);
    
}

.msTitle span {
    font-size: 1.5em;
    font-weight: bolder;
    letter-spacing: .25em;
}

.msCodeContainer{
    /* border: 2px solid red; */
    margin: 0 auto 10px auto;
    width: 75%;
}

.msCode, .numberContainer{
    border: none;
    height: 40px;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 2em;
    background-color: rgb(60, 135, 197);
    padding-top: 6px;
    border-radius: 10px;
    color: rgba(211, 211, 211, .6);
    border: 2px solid rgb(4, 4, 80);
    box-shadow: -2px 2px 12px rgb(4, 4, 80);
    border-color: rgb(60, 135, 197);
}

.msButtonsContainer{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.msButtonsContainer button {
    padding: 1.25em;
    width: 30%;
    margin: auto;
    background-color: rgb(60, 135, 197);
    font-size: 1em;
    text-align: center;
    font-weight: bolder;
    color: rgba(211, 211, 211, .6);
    box-shadow: -2px 2px 15px rgb(4, 4, 80);
    border: 2px solid rgb(36, 104, 160);
    border-radius: 10px;
    /* border: none; */
    display: flex;
    justify-content: center;
    box-shadow: -2px 2px 15px rgb(4, 4, 80);
}

.msButtonsContainer button:hover{
    background-color: rgb(36, 104, 160);
    border: 1px solid rgb(60, 135, 197);
    cursor: pointer;
    color: rgb(48, 47, 47);
    box-shadow: -2px 2px 5px rgb(4, 4, 80);
}

.msCancel{
    text-align: center;
    margin-right: 2px;
}

.msEnter{
    text-align: center;
}

/* BOTTOM */
.bottomContainer{
    /* border: 2px solid gray; */
    height: 300px;
    display: flex;
    justify-content: space-around;
}

.bottomContainer > div {
    width: 40%;
    /* border: 2px solid green; */
}

.keypadContainer{
    border: 3px double rgb(61, 60, 60);; /* keep */
    border-radius: 10px;
    height: 95%;
    width: 80%;
    text-align: center;
    margin: auto;
    background-color: rgb(145, 143, 140);
    box-shadow: -5px 15px 50px rgb(54, 52, 52);
    background-color: rgb(87, 86, 86);
}

.keypadContainer button {
    height: 50px;
    width: 50px;
    margin: 4px;
    font-weight: bolder;
    font-size: 1.5em;
    border-radius: 5px;
    border-color: gray;
    box-shadow: 5px 5px 2px black;
    background-color: rgb(168, 161, 161);
}

.keypadContainer button:hover {
    background-color: rgb(129, 126, 126);
    border: 2px solid gray;
    cursor: pointer;
    box-shadow: 3px 3px 2px black;
}

.keypadContainer .row1 {
    margin-top: 25px;
}

.row1, .row2, .row3, .row4{
    display: flex;
    justify-content: center;
}

/* symbol keys */
.symbol{
    color: rgba(255, 255, 255, 0.6);
}
.symbol:hover{
    /* color: rgb(170, 170, 170, .7); */
    /* color: rgba(39, 39, 39, 0.9) */
    color: rgba(0, 0, 0, .99);
}
.symbol.enter{
    background-color: green;
    border-color: darkgreen;
}
.symbol.enter:hover{
    background-color: darkgreen;
    border-color: rgb(1, 83, 1);
}
.symbol.cancel{
    background-color: rgb(170, 5, 5);
    border-color: darkred;
}
.symbol.cancel:hover{
    background-color: darkred;
    border-color: rgb(99, 0, 0);
}

.cardInsert {
    border: 2px dashed rgb(41, 156, 5);
    border-radius: 20px;
    height: 10px;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, .7);
    box-shadow: -2px 2px 15px rgb(0, 0, 0);
    width: 90%;
}

.cardInsert div {
    /* border: 2px solid red; */
    text-align: center;
}

.cardInsert p span {
    text-align: center;
    padding-top: 8px;
    font-size: 10px;
    /* background-color: white; */
    font-family: sans-serif;
    color: rgba(233, 124, 0, 0.5);
    font-weight: bolder;
    /* text-decoration-line: underline; */
    text-decoration-color:  rgba(233, 124, 0, 0.2);
    text-decoration-thickness: 2px;
    width: max-content;
    height: 15px;
    margin: 10px auto;
}

.cardInsert p {
    color: rgba(233, 124, 0, 0.5);
}


.cardContainer{
    /* border: 2px solid purple; */
    border-radius: 10px;
    background-color: rgb(1, 0, 75);
    /* rotate: 90deg; */
    height: 150px;
    width: 290px;
    margin-top: 50px;
    margin-left: -30px;
    font-weight: bolder;
    box-shadow: -5px 5px 20px 5px black;
    background-color: rgb(138, 196, 105);
}

.cardContent{
    /* border: 2px solid yellowgreen; */
    margin-left: 12px;
    border-radius: 10px;
    margin-top: 5px;
    position: absolute;
    color: rgba(245, 245, 245, 0.9)
}

.cardNumber{
    font-weight: bolder;
}

.expCvc{
    display: flex;
    justify-content: space-between;
    /* margin-right: 2px; */
}

.vt, .cvc{
    font-size: .6em;
}

.cvcNumber{
}

/* second screen */

.secondScreenContainer{
    /* border: 2px solid red; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.secondScreenContainer h3{
    /* margin-top: auto; */
    margin-top: 30px;
    width: 90%;
    text-align: center;
    font-size: 1.5em;
    color: rgba(173, 172, 172, 50%);
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.secondScreenContainer h3, .currentBalance{
    border-bottom: 2px dashed rgba(173, 172, 172, .2);;
    padding-bottom: 2px;
}

.secondScreenContainer h4{
    text-align: center;
    /* border: 2px solid saddlebrown; */
    margin:auto;
    font-size: 2em;
    color: rgba(173, 172, 172, 30%);
    width: 100%;
    margin-top: 50px;

}

.infoContainer{
    /* border: 2px solid green; */
    /* margin: auto; */
    margin-top: -80px;
    height: 220px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    /* justify-self: flex-end; */
}

.currentBalance{
    text-align: center;
    /* border: 2px solid purple; */
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(173, 172, 172, 50%);
    display: flex;
    justify-content: space-between;

}

.switchPrompts{
    /* border: 2px solid brown; */
    justify-content: flex-end;
}

.secondScreenContainer .prompt {
    text-align: center;
    font-size: 1.1em;
    /* transform: scaleY(1);  very interesting..stretches text vertically */
    /* border: 2px solid rgb(255, 220, 255); */
    font-weight: bold;
    color: rgba(173, 172, 172, 50%);    
    /* width: 50%; */
    margin: auto;
    margin-bottom: 25px;
}

.prompt{
    /* border: 2px solid yellow; */
}

.numberParagraphContainer{
    position: absolute;
    margin-left: 29px;
    /* margin: 0 auto; */
    /* border: 2px solid purple; */
    width: 490px;
    height: fit-content;
    display: flex;
    /* justify-content: center; */
    /* margin-right: 10px; */
}

.numberContainer{
    /* width: 420px; */
    /* border: 2px solid yellow; */
    /* color: rgba(253, 253, 253, 0.5); */
    /* width: 520px; */
    /* margin-left: 15px; */
    /* display: none; */
    /* padding-right: 40px; */
    box-shadow: -2px 2px 8px rgb(4, 4, 80);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: auto;
    

}

.optionsContainer{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.optionsContainer button {
    width: 30%;
    height: 50px;
    border-radius: 10px;
    /* padding: 1.25em; */
    /* width: 30%; */
    /* margin: auto; */
    background-color: rgb(60, 135, 197);
    font-size: .9em;
    /* text-align: center; */
    font-weight: bolder;
    color: rgba(211,211,211,70%);
    border: 2px solid rgb(36, 104, 160);
    /* border-radius: 10px; */
    /* border: none; */
}

.optionsContainer button:hover {
    background-color: rgb(36, 104, 160);
    border: 1px solid rgb(60, 135, 197);
    cursor: pointer;
    color: rgb(48, 47, 47)
}

.numberContainer{
    margin-top: 250px;
    margin-left: 18px;
    width: 80%;
    position: absolute;
}



/* hide */
.hidden {
    display: none;
}

/* red font overdraft */
.red {
    color: rgb(143, 39, 39)
}
/* green font good */
.green{
    color: greenyellow
}



/*  when half screen ... keey full background image*/
@media only screen and (max-width: 1000px ){
    body{
        height: 100vh;
        background-image: url("https://media.tenor.com/pCd-39uhMpMAAAAC/rain-totoro.gif");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
/* when 1/4 screen... keep full background image */
@media only screen and (max-height: 500px ){
    body{
        height: 100%;
        background-image: url("https://media.tenor.com/pCd-39uhMpMAAAAC/rain-totoro.gif");
        background-repeat: no-repeat;
        background-size: cover;
    }
}